[Desktop Entry]
Name=Godot Engine
Comment=2D and 3D cross-platform game engine
Exec=/opt/Godot_v4.7-stable_linux.x86_64 %f
Icon=/home/slug/.local/share/icons/godot.svg
Terminal=false
Type=Application
Categories=Development;IDE;Game;
Keywords=godot;game;engine;2d;3d;
MimeType=application/x-godot-project;
StartupWMClass=Godot
StartupNotify=true
